.testimonial{
    display: contents;
}

.grid {
    width: 100vw;
  
    .desktopOnly {
      @media (max-width: 960px) {
        display: none !important;
      }
    }
  
    .content {
      padding: 32px; // Adjust based on your theme's spacing equivalent
    }
  
    .image, .text {
      aspect-ratio: 1;
  
      @media (max-width: 960px) {
        aspect-ratio: unset;
        padding: 48px 32px;
      }
    }
  
    .text {
      background: linear-gradient(to top right, #26354A, #284571); // Replace with your primary dark color
      color: white;
      display: grid;
      place-items: center;
  
      * {
        max-width: 550px;
      }
  
      .gridTitle {
        color: white;
        padding-bottom: 16px; // Adjust based on your theme's spacing equivalent
      }
  
      .gridReview {
        font-style: italic;
      }
    }
  
    .image {
      display: grid;
      place-items: center;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  